:root {
    --primary-color: #336ED3;
    --secondary-color: #8C9BB5;
}

* {
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--secondary-color);
    font-family: Helvetica, Arial, sans-serif;
}

a:link {
    color: var(--secondary-color);
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: var(--secondary-color);
    background-color: transparent;
    text-decoration: none;
}

/* apply styles to header */

header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    top: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
}

header h1 {
    font-weight: bold;
    font-size: 60px;
    margin: 0;
    color: var(--primary-color);
    text-shadow: 10px 0 0 rgbda(0, 0, 0, 0.5);
    background-color: var(--secondary-color);

}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

header nav ul li a:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 15px;
    text-shadow: none;
}

/* hero style start */

.hero {
    background-image: url("../images/photo-1464802686167-b939a6910659.jfif");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-end;
    background-attachment: fixed;
    background-position: 80%;
}

.hero h2 {
    font-weight: bold;
    font-size: 50px;
    color: var(--secondary-color);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px 15px;
}

.section-title {
    display: flex;
    width: 30%;
    justify-content: flex-end;
}

.section-title h3 {
    font-weight: bold;
    font-size: 40px;
    margin: 10px;
}

div {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
}

.section-text {
    display: flex;
    align-items: flex-end;
    border-left: solid var(--primary-color);
    justify-content: space-evenly;
    padding: 10px;
    width: 70%;
    flex-wrap: nowrap;
}

.section-image {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    border-left: solid var(--primary-color);
    width: 70%;
    flex-wrap: wrap;
}

.big-button {
    height: 600px;
    width: 100%;
    border-radius: 15px;
}

.big-button img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.big-button:hover {
    position: relative;
    background-position: top;
    padding: 10px;
    margin: 10px;
    height: 600px;
    width: 100%;
    border-radius: 15px;
}

.big-button a {
    font-family: Helvetica, Arial, sans-serif;
    flex-direction: row;
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 10px;
    padding: 260px;
    filter: brightness(50%);
}

.big-button a:hover {
    font-family: Helvetica, Arial, sans-serif;
    flex-direction: row;
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 10px;
    padding: 260px;
    filter: brightness(50%);
}

.small-buttons {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    justify-content: space-between;

}

.small-buttons div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    font-family: Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    width: 50%;
    height: 50%;
    max-height: 240px; 
    border-radius: 15px;
    filter: brightness(50%);
}

.small-buttons div:hover {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    font-family: Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    width: 50%;
    height: 50%;
    max-height: 240px; 
    border-radius: 15px;
    filter: brightness(100%);
}

.small-buttons img {
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 15px;
    object-fit: cover;
}

.small-buttons div a {
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    height: 100%;
    width: 90%;
    bottom: 240px;
    right: 0px;
    line-height: 240px;
    text-align: center;
    filter: brightness(100%);
}

.section-text p span {
    height: 100%;
    width: 100%;
    padding: 100px;
}

footer {
    background: var(--primary-color);
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0;
}

footer p a {
    color: var(--secondary-color);
}

footer div {
    line-height: 1.5;
    text-align: right;
}
