:root {
    --primary-color: #0c576e;
    --secondary-color: #117B9C;
}

* {
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--secondary-color);
    font-family: Helvetica, Arial, sans-serif;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

/* apply styles to header */

header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    top: 0;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    color: var(--primary-color);
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--secondary-color);
    color: var(--tertiary-color);
    border-radius: 15px;
    text-shadow: none;
}

/* hero style start */

.hero {
    background-image: url("../images/photo-1464802686167-b939a6910659.jfif");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-end;
    background-attachment: fixed;
    background-position: 80%;
}

.hero h2 {
    font-weight: bold;
    font-size: 50px;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px 15px;
}

/* style text sections */
.section-title {
    display: flex;
    width: 30%;
    justify-content: flex-end;
}

.section-title h3 {
    color: white;
    font-weight: bold;
    font-size: 40px;
    margin: 10px;
}

div {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
}

.section-text {
    color: white;
    display: flex;
    align-items: flex-end;
    border-left: solid var(--primary-color);
    justify-content: space-evenly;
    padding: 10px;
    width: 70%;
    flex-wrap: nowrap;
}

/* style image section */
.section-image {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    border-left: solid var(--primary-color);
    width: 70%;
    flex-wrap: wrap;
}

/* big button style start */
.big-button {
    padding: 0px;
    margin: 0px;
    width: 100%;
    border-radius: 15px;
}

.big-button div {
    display: flex;
    margin: 0px;
    padding: 0px;
    flex-wrap: nowrap;
    flex-direction: column;
    font-family: Helvetica, Arial, sans-serif;
    height: 300px;
    width: 100%;
    border-radius: 15px;
    filter: brightness(50%);
}

.big-button div:hover {
    display: flex;
    margin: 0px;
    padding: 0px;
    flex-wrap: nowrap;
    flex-direction: column;
    font-family: Helvetica, Arial, sans-serif;
    height: 300px;
    width: 100%;
    border-radius: 15px;
    filter: brightness(100%);
}

.big-button div a {
    height: 100%;
    width: 100%;
    bottom: 300px;
    right: 0px;
    line-height: 300px;
    text-align: center;
}

.big-button h3 {
  color: white;
  background-color: var(--primary-color);
  padding: 10px;
  position: absolute;
  bottom: 20px;
  left: 10px; 
}

.big-button div img {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    object-fit: cover;
}

/* small button style start */
.small-buttons {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.small-buttons div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    font-family: Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    width: 50%;
    height: 50%;
    max-height: 240px; 
    border-radius: 15px;
    filter: brightness(50%);
}

.small-buttons div:hover {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    font-family: Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    width: 50%;
    height: 50%;
    max-height: 240px; 
    border-radius: 15px;
    filter: brightness(100%);
}

.small-buttons img {
    width: 100%;
    height: 100%;
    padding: 10px;
    max-height: 240px;
    border-radius: 15px;
    object-fit: cover;
}

.small-buttons h3 {
    color:white;
    background-color: var(--primary-color);
    padding: 10px;
    position: absolute;
    bottom: 20px;
    left: 10px;
    text-align:justify; 
  }

.section-text p span {
    height: 100%;
    width: 100%;
    padding: 100px;
}

/* footer style start */
footer {
    background: var(--primary-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0;
}

footer p a {
    color: white;
}

footer p {
    color:white;
}

footer div {
    text-align: right;
}
