:root {
    --primary-color: #003d50;
    --secondary-color: #008db8;
}

* {
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--primary-color);
    font-family: Helvetica, Arial, sans-serif;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

/* apply styles to header */

header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    top: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 60px;
    margin: 0;
    color: var(--primary-color);
    text-shadow: 10px 0 0 rgbda(0, 0, 0, 0.5);
    background-color: var(--secondary-color);

}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 15px;
    text-shadow: none;
}

/* hero style start */

.hero {
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-end;
    background-attachment: fixed;
    background-position: 80%;
}

.hero h2 {
    font-weight: bold;
    font-size: 50px;
    color: var(--secondary-color);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px 15px;
}

.section-title {
    display: flex;
    width: 30%;
    justify-content: flex-end;
}

.section-title h3 {
    font-weight: bold;
    font-size: 40px;
    margin: 10px;
}

div {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.section-text {
    display: flex;
    align-items: flex-end;
    border-left: solid var(--secondary-color);
    padding: 10px;
    width: 70%;
    max-width: 900px;
    flex-wrap: nowrap;
}

.section-image {
    display: flex;
    border-left: solid var(--secondary-color);
    margin: 0px auto;
    width: 70%;
    flex-wrap: wrap;
    max-height: fit-content;
}

.big-button {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/run-buddy.png');
    background-position: top;
    padding: 10px;
    margin: 10px;
    height: 400px;
    width: 70%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 1.0);
}

.big-button:hover {
    background: url('../images/run-buddy.png');
    background-position: top;
    padding: 10px;
    margin: 10px;
    height: 400px;
    width: 70%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 1.0);
}

.link-text {
    position: relative;
    width: 100%;

}

.big-button a {
    font-family: Helvetica, Arial, sans-serif;
    text-align: end;
    height: 100%;
    width: 100%;
    bottom: 16px;
    right: 8px;
}

.small-button {
    width: 40%;
    max-width: 485px; 
    margin: 0px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column-reverse;
    color: white;
}

.small-button img {
    width: 70%;
    height: 100%;
}



