body{
    margin: 0;
    background: #424242;
    color: white;
}



.nav .nav-wrapper {
    position: relative;
    height: 100%;
}

#parallax-img {
    transform: translate3d(-50%, 315.824px, 0px); 
    opacity: 1;
    background-size: cover;
    width: 100%;
}

#about-text {
    background-color: rgb(97, 97, 97, 0.8);
    border-radius: 15px;
}

.btn {
    background-color: #616161;
    margin: 1px;
}



.card-content {
    text-align: left !important;
}

#card-text {
    color: black;
}

i {
    padding: 8px;
}
